doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/css/navbar.css")
    link(rel="stylesheet" href="/CSS/criminals-info.css")
    link(rel="stylesheet" href="/CSS/news.css")
    link(rel="stylesheet" href="/CSS/carrers_info.css")
  body
    .News-Ann= job.title
    .Quicklinks(ID=job._id)
      button.links_button Quicklinks 
        .Links
          a(href="#job-description") Job Application
          a(href="#salary-benefits") Salary and Benefits
          a(href="#requirements") Requirements
          a(href="#application-procedure") Application Procedure
    .back
      button#btnback Back
      if user.role === 'Admin'
        .edit-buttons
          button#edit-btn Edit
          button#confirm-btn(style="display: none;") Confirm
          button#cancel-btn(style="display: none;") Cancel
    .carrers_info
      .carrer_nav
        .carrer_img
          //- img(src=`/images/jobs/${job.photo}` alt="")
          img(src="/Img/Gta_world_1.jpg" alt="")
        .carrer_links
          a(href="#job-description") Job Description
          a(href="#salary-benefits") Salary and Benefits
          a(href="#requirements") Requirements
          a(href="#application-procedure") Application Procedure

      .carrer_info
        h2#job-description Job Description
        h3 Description
        p#description= job.description
        h3 Department
        p#department= job.department
        h3 Other Information
        p Lorem ipsum dolor sit amet.

        h2#salary-benefits Salary and Benefits
        p#salary= `Salary: ${job.salary}`
        h3 Benefits
        p#benefits= job.benefits 
            //- p#benefits
            //- each x in job.benefits 
            //-     li= x 

        h2#requirements Requirements
        button.accordion Education
        .panel
          p#education 
            li= job.education

        button.accordion Experience
        .panel
          p#experience 
            li= job.experience

        button.accordion Skills Required
        .panel
          p#skills
          each x in job.skills 
            li= x

        button.accordion Other Information
        .panel
          p#otherreq 
            each x in job.otherreq
                li= x

        h2#application-procedure Application Procedure
        p#application_process
        each x in job.application_process
            li= x
        a#Apply(href=`${job.slug}/applyform`) Apply
        .space

    script(src="/js/profile_2.js") 
    script(src="/js/wanted.js") 
    script(src="/js/updateCarrer.js") 
