//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     title Document
//-     link(rel="stylesheet" href="/CSS/criminals-info.css")
//-     link(rel="stylesheet" href="/CSS/navbar.css")
//-   body
      
//-     .back
//-       button#btnback back
//-     .container
//-       .box1
//-         img(src=`/images/criminals/${tour.photo}` alt="Criminal Photo")
//-         h3= tour.name
//-       .box2
//-         .content_1
//-           h3 Genral Information
//-           .details
//-             p.tag Total Crimes
//-             p= tour.noOfCrimes
//-           .details
//-             p.tag Height
//-             p= tour.height
//-           .details
//-             p.tag Gender
//-             p=tour.gender
//-           .details
//-             p.tag Pricepool
//-             p= tour.pricepool
//-         .content_2
//-           h3 Description
//-           p= tour.description

//-         .edit-buttons
//-           button#edit-btn Edit
//-           button#confirm-btn(style="display: none") Confirm
//-           button#cancel-btn(style="display: none;") Cancel

//-     script(src="/js/wanted.js") 
//-     script(src="/js/criminals.js") 
//-     script(src="/js/updateCriminal.js") 
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Criminal Details
    link(rel="stylesheet" href="/CSS/criminals-info.css")
    link(rel="stylesheet" href="/CSS/navbar.css")
  body
    .back
      button#btnback Back
    .container(ID=tour._id)
      .box1
        img(src=`/images/criminals/${tour.photo}` alt="Criminal Photo")
        h3#name= tour.name
      .box2
        .content_1
          h3 General Information
          .details
            p.tag Total Crimes
            p#total-crimes= tour.noOfCrimes
          .details
            p.tag Height
            p#height= tour.height
          .details
            p.tag Gender
            p#gender= tour.gender
          .details
            p.tag Pricepool
            p#pricepool= tour.pricepool
        .content_2
          h3 Description
          p#description= tour.description

        .edit-buttons
          button#edit-btn Edit
          button#confirm-btn(style="display: none;") Confirm
          button#cancel-btn(style="display: none;") Cancel

    script(src="/js/wanted.js") 
    script(src="/js/criminals.js") 
    script(src="/js/updateCriminal.js") 
