//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     title Document
//-     link(rel="stylesheet" href="/css/navbar.css")
//-     link(rel="stylesheet" href="/css/news.css")
//-     style.
//-       .dropdown {
//-         position: relative;
//-         display: inline-block;
//-       }
//-       .dropbtn {
//-         border: 4px solid whitesmoke;
//-         font-size: 140%;
//-         font-weight: bold;
//-         height: 50px;
//-         border-radius: 14px;
//-         background-color: #ddc577;
//-         color: #363636;
//-         display: flex;
//-         justify-content: center;
//-         align-items: center;
//-         gap: 14%;
//-       }
//-       .dropbtn:hover, .dropbtn:focus {
//-         background-color: #ffffff;
//-       }
//-       .dropdown-content {
//-         display: none;
//-         position: absolute;
//-         background-color: #f9f9f9;
//-         min-width: 160px;
//-         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//-         z-index: 1;
//-       }
//-       .dropdown-content a {
//-         color: black;
//-         padding: 12px 16px;
//-         text-decoration: none;
//-         display: block;
//-       }
//-       .dropdown-content a:hover {
//-         background-color: #f1f1f1;
//-       }
//-       .dropdown:hover .dropdown-content {
//-         display: block;
//-       }
//-   body
//-     // script(src="app.js")
//-     include navbar 

//-     .News-Ann News and Announcements
//-     .fliter_add_news
//-       //- button
//-       //-   img(src="/Icons/filter.png" alt="")
//-       //-   |  Filter
//-       .dropdown
//-         button.dropbtn Sort By:
//-         .dropdown-content
//-           a(href='/api/news/getallnews') Default 
//-           a(href='?sort=date') Date (low to high)
//-           a(href='?sort=-date') Date (high to low)
//-           a(href='?sort=likes') Number Of likes (low to high)
//-           a(href='?sort=-likes') Number Of Likes (high to low)

//-         if user 
//-           if user.role === 'admin'
//-             button.add
//-               img(src="/Icons/add.png" alt="")
//-               |  Publish
    
//-     section.news-section
//-         each x in news 
//-             .card.middle
//-                 .card-front
//-                     img(src="/Img/car_1.jpg" alt="Images are here")
//-                     .news-content
//-                         h3=x.headline 
//-                         p=`${x.date} | ${x.time}`
//-                 .card-back
//-                     h3 News Heading 
//-                     p=x.description
//-                     .like-view
//-                         .likes=x.likes 
//-                             img(src="/Icons/heart.png" alt="")
//-                         a(href=`/api/news/${x._id}`).view-more View More

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/CSS/navbar.css")
    link(rel="stylesheet" href="/CSS/criminals.css")
    link(rel="stylesheet" href="/CSS/news.css")
    link(rel="stylesheet" href="/CSS/utility.css")
    link(rel="stylesheet", href="/CSS/footer.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    include navbar

    .News-Ann
      | News and Announcements

    .fliter_add_news(User=user.role)
      .dropdown
          button.criminals_sorting Sort By
            img(src="/Icons/Sort.png" alt="")
          //- button.dropbtn Name (Ascending)
          .dropdown-content
            a(href="/api/news/getallnews" data-sort="name-asc") Default
            a(href="?sort=date" data-sort="crimes-asc") Date (Ascending)
            a(href="?sort=-date" data-sort="crimes-desc") Date (Descending)
      if user.role === "Admin"
        a.add(href="getallnews/publishnews") 
            img(src="/Icons/add.png" alt="")
            |  Publish

    section.news-section
      each x in news 
        .card.middle
          .card-front
            .front-likes
              span= x.likes.length 
              img(src="/Icons/heart-filled.png" alt="")
              
            img(src=`/images/news/${x.photo}` alt="")
            .news-content
              h3= x.headline
              p=`${x.date} | ${x.time}`
          .card-back
            h3 News Heading - 1
            p= x.truncatedDescription
            .like-view
              div.likes
                if x.likes.includes(user._id)
                  img(src="/Icons/heart-filled.png" alt="")#like-button.like-button(data-news-id=x._id data-liked=true)
                  p= x.likes.length
                else 
                  img(src="/Icons/heart.png" alt="")#like-button.like-button(data-news-id=x._id  data-liked=false)
                  p= x.likes.length
              a.view-more(href=`/api/news/${x._id}`) View More

    footer.footer-section
    .cont
      .footer-cta.pt-5.pb-5
        .row
          .col-xl-4.col-lg-4.mb-50
            .footer-widget
              .footer-logo
                a(href="#")
                  img.img-fluid(src="/Logo_1.png" alt="logo")
              .footer-text
                p This project aims to assist the Los Santos Police Department (LSPD) in apprehending the city's most wanted criminals, recent news and career options. It includes features for both users and administrators to interact with the system, view and manage content, and engage with various functionalities.
              //- .footer-social-icon
              //-   span Follow us
              //-   a(href="#")
              //-     i.fab.fa-facebook-f.facebook-bg
              //-   a(href="#")
              //-     i.fab.fa-twitter.twitter-bg
              //-   a(href="#")
              //-     i.fab.fa-google-plus-g.google-bg
          .col-xl-4.col-lg-4.col-md-6.mb-30
            .footer-widget
              .footer-widget-heading
                h3 Useful Links
              ul
                li: a(href="/") Home
                li: a(href="/api/wanted/getallwanted") Criminals
                li: a(href="/api/news/getallnews") News
                li: a(href="/api/career/getalljobs") Carreers
                li: a(href="/api/tip/submit-tip") Submit Tip
                li: a(href="/api/users/me") Your Profile
                //- li: a(href="#") Our Services
                //- li: a(href="#") Expert Team
                //- li: a(href="#") Contact us
                //- li: a(href="#") Latest News
          //- .col-xl-4.col-lg-4.col-md-6.mb-50
          //-   .footer-widget
          //-     .footer-widget-heading
          //-       h3 Subscribe
          //-     .footer-text.mb-25
          //-       p Don’t miss to subscribe to our new feeds, kindly fill the form below.
          //-     .subscribe-form
          //-       form(action="#")
          //-         input(type="text" placeholder="Email Address")
          //-         button 
          //-           span  Submit
        
      .footer-content.pt-5.pb-5
        .row
          .col-xl-4.col-md-4.mb-30
            .single-cta
              i.fas.fa-user
              .cta-text
                h4 Created by
                a(target= "_blank" href="https://www.linkedin.com/in/naitik-ajay-shah-019120257/") Naitik Shah
                span  and 
                a(target= "_blank" href="https://www.linkedin.com/in/parth-ranpariya-576523260/") Parth Ranpariya

          //- .col-xl-4.col-md-4.mb-30
          //-   .single-cta
          //-     i.fas.fa-phone
          //-     .cta-text
          //-       h4 Special Thanks To
          //-       a(target= "_blank" href="https://www.linkedin.com/in/sarthak-siddhpura-544389257/") Sarthak Siddhpura, 
          //-       a(target= "_blank" href="#")  Shrey Badja
          //-       span  and 
          //-       a(target= "_blank" href="https://www.linkedin.com/in/tirthraj-raval-773422263/") Tirthraj Raval
    .copyright-area
      .cont
        .row
          .col-xl-6.col-lg-6.text-center.text-lg-left
            .copyright-text
              p Copyright &copy; 2024, All Right Reserved 
                a(href="https://github.com/Naitik1112/Hernandez-Quest") Hernandez Quest
          .col-xl-6.col-lg-6.d-none.d-lg-block.text-right
            .footer-menu
              ul
                //- li: a(href="#") Home
                //- li: a(href="#") Terms
                //- li: a(href="#") Privacy
                //- li: a(href="#") Policy
                //- li: a(href="#") Contact
    script(src="/js/like.js") 

        