//- doctype html
//- html
//-   head
//-     title News Details
//-     meta(charset="UTF-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     link(rel="stylesheet" href="/css/navbar.css")
//-   body
//-     include navbar 
//-     .container
//-       h1 News Details
//-       .news-item
//-         h2= news.headline
//-         img(src='#', alt='News Photo', class='img-fluid')
//-         p=`Description: ${news.description}` 
//-         p=`Date: ${news.date}`
//-         p=`Time: ${news.time}`
//-         p=`Likes: ${news.likes || 0}`
//-         p=`Views: ${news.views || 0}`
//- **********************************************************************************************

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title View More
    link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet" href="/CSS/news-view-more.css")
    link(rel="stylesheet" href="/CSS/comments.css")

  body
    if user.role === 'Admin'
      .center(ID=news._id)
        .back
          a#btnback Back
          button#edit-btn Edit
          button#confirm-btn(style="display: none;") Confirm
          button#cancel-btn(style="display: none;") Cancel
    else 
      .center(ID=news._id)
        .back
          a#btnback Back

    .title
      h2#headline= news.headline

    .center
      .like_view_date
        .upper
          div Likes
          div Views
          div Date
        .lower
          div#likes= news.likes.length
          div#views= news.views
          div#date= news.date

    .center
    .content 
      div#description= news.description

    section
      h2#comment_title Add Comments
      .rt-container
        .col-rt-12
          .Scriptcontent
            section#app
              .container
                .row
                  .col-6
                    .comment-container#commentBox
                      div(v-for="(items, index) in item" :key="index" class="comment-box")
                        button.user-name(@click="showPopup")
                          p Naitik Shah
                          p 12:00 | 3rd August 2024
                        p.comment-text {{ items }}
                .row
                  .col-6
                    textarea.input(type="text" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem")
                    button.primaryContained.float-right(v-on:click="addItem" type="submit") Add Comment
    .popup.center(v-show="isPopupVisible")
      .icon
        img(src="/fotor-ai-20240801193131.jpg" alt="")
      .title
        | Name - Naitik Shah
      .description
        | Email Id - naitik.s@ahduni.edu.in
      .dismiss-btn
        button#dismiss-popup-btn Dismiss

    .center
      h2.tag Most Liked News
    
    section#tranding
      .container
        .swiper.tranding-slider
          .swiper-wrapper
            // Slide-start
            .swiper-slide.tranding-slide
              .tranding-slide-img
                img(src="/Img/Most_Wanted_Criminal_2.jpg" alt="Tranding")
              .tranding-slide-content
                h3.food-price
                  img(src="/Icons/heart-filled.png" alt="")
                  | #{topNews[0].likesCount}
                .tranding-slide-content-bottom
                  h2.food-name= topNews[0].headline
            // Slide-end
            // Slide-start
            .swiper-slide.tranding-slide
              .tranding-slide-img
                img(src="/Img/car.jpg" alt="Tranding")
              .tranding-slide-content
                h1.food-price
                  img(src="/Icons/heart-filled.png" alt="")
                  | #{topNews[1].likesCount}
                .tranding-slide-content-bottom
                  h2.food-name= topNews[1].headline
            // Slide-end
            // Slide-start
            .swiper-slide.tranding-slide
              .tranding-slide-img
                img(src="/Img/Gta_world_0.jpg" alt="Tranding")
              .tranding-slide-content
                h1.food-price
                  img(src="/Icons/heart-filled.png" alt="")
                  | #{topNews[2].likesCount}
                .tranding-slide-content-bottom
                  h2.food-name= topNews[2].headline
            // Slide-end
            // Slide-start
            .swiper-slide.tranding-slide
              .tranding-slide-img
                img(src="/Img/Helicopter_1.jpg" alt="Tranding")
              .tranding-slide-content
                h1.food-price
                  img(src="/Icons/heart-filled.png" alt="")
                  | #{topNews[3].likesCount}
                .tranding-slide-content-bottom
                  h2.food-name= topNews[3].headline
            // Slide-end
            // Slide-start
            .swiper-slide.tranding-slide
              .tranding-slide-img
                img(src="/Img/Most_Wanted_Criminal_1.jpg" alt="Tranding")
              .tranding-slide-content
                h1.food-price
                  img(src="/Icons/heart-filled.png" alt="")
                  | #{topNews[4].likesCount}
                .tranding-slide-content-bottom
                  h2.food-name= topNews[4].headline
            // Slide-end
            

          .tranding-slider-control
            .swiper-button-prev.slider-arrow
              ion-icon(name="arrow-back-outline")
            .swiper-button-next.slider-arrow
              ion-icon(name="arrow-forward-outline")
            .swiper-pagination

    script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
    script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src="/view-more.js")
    script(src="/js/wanted.js")
    script(src="/js/updateNews.js")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="js/script.js")