//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     title=title
//-     link(rel="stylesheet" href="CSS/navbar.css")
//-     link(rel="stylesheet" href="CSS/style.css")
//-     link(rel="stylesheet" href="CSS/utility.css")
//-   body
//-     script(src="app.js")
//-     include navbar

//-     .carousel
//-       // list item
//-       .list
//-         .item
//-           img(src="/Img/Helicopter_2.png")
//-           .content
//-             .topic= top2criminals[0].name
//-             .des= `${top2criminals[0].name}, responsible for ${top2criminals[0].noOfCrimes} heinous crimes, has terrorized Los Angeles. A $${top2criminals[0].pricepool} bounty awaits those who bring justice.`
//-             a(href=`/api/wanted/${top2criminals[0].slug}`) 
//-               .buttons
//-                 button SEE MORE
//-         .item
//-           img(src="/Img/Helicopter_1.jpg")
//-           .content
//-             .topic= top2criminals[1].name
//-             .des= `${top2criminals[1].name}, with a chilling record of ${top2criminals[1].noOfCrimes} brutal offenses, remains a top threat. Help capture and earn a $${top2criminals[1].pricepool} reward.`
//-             a(href=`/api/wanted/${top2criminals[1].slug}`) 
//-               .buttons
//-                 button SEE MORE
//-         .item
//-           img(src="/Img/Sunset.png")
//-           .content
//-             .topic CRIME RATES ARE INCREASING
//-             .des= top3newss[0].truncatedHeadline
//-             .buttons
//-               button SEE MORE
//-         .item
//-           img(src="/Img/car_1.jpg")
//-           .content
//-             .topic CRIME RATES ARE INCREASING
//-             .des= top3newss[1].truncatedHeadline
//-             .buttons
//-               button SEE MORE
//-       // list thumbnail
//-       .thumbnail
//-         .item
//-           img(src="/Img/Helicopter_2.png")
//-           .content
//-             .title City's Wanted
//-             //- .description Description
//-         .item
//-           img(src="/Img/Helicopter_1.jpg")
//-           .content
//-             .title In Our Sights
//-             //- .description Description
//-         .item
//-           img(src="/Img/Sunset.png")
//-           .content
//-             .title City Update
//-             //- .description Description
//-         .item
//-           img(src="/Img/car_1.jpg")
//-           .content
//-             .title Breaking Alert
//-             //- .description Description
//-       // next prev
//-       .arrows
//-         button#prev <
//-         button#next >
//-       // time running
//-       //- .time
//-     //- script(src="/js/navbar.js")   

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Police Department Website
    link(rel="stylesheet" href="/CSS/navbar.css")
    link(rel="stylesheet" href="/CSS/style.css")
    link(rel="shortcut icon" href="/fav-icon_2.png" type="image/x-icon")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet" href="/CSS/criminals_style.css")
    link(rel="stylesheet" href="/CSS/Expandable-News-card.css")
    link(rel="stylesheet", href="/CSS/Topcarrers.css")
    link(rel="stylesheet", href="/CSS/footer.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    include navbar 

    .carousel
      // list item
      .list
        .item
          img(src="/Img/Gta_world_10.jpg")
          .content
            .topic= top2criminals[0].name
            .des= `${top2criminals[0].name}, responsible for ${top2criminals[0].noOfCrimes} heinous crimes, has terrorized Los Angeles. A $${top2criminals[0].pricepool} bounty awaits those who bring justice.`
            a(href=`/api/wanted/${top2criminals[0].slug}`) 
              .buttons
                button SEE MORE
        .item
          img(src="/Img/francisco downtown.png")
          .content
            .topic= top2criminals[1].name
            .des= `${top2criminals[1].name}, with a chilling record of ${top2criminals[1].noOfCrimes} brutal offenses, remains a top threat. Help capture and earn a $${top2criminals[1].pricepool} reward.`
            a(href=`/api/wanted/${top2criminals[1].slug}`) 
              .buttons
                button SEE MORE
        .item
          img(src="/Img/Helicopter_1.jpg")
          .content
            .topic CRIME RATES ARE INCREASING
            .des= top3newss[0].truncatedHeadline
            a(href=`/api/news/${top3newss[0]._id}`) 
              .buttons
                button SEE MORE
        .item
          img(src="/Img/Gta_world_12.jpg")
          .content
            .topic CRIME RATES ARE INCREASING
            .des= top3newss[1].truncatedHeadline
            a(href=`/api/news/${top3newss[1]._id}`) 
              .buttons
                button SEE MORE
      // list thumbnail
      .thumbnail
        .item
          img(src="/Img/Gta_world_10.jpg")
          .content
            .title City's Wanted
            //- .description Description
        .item
          img(src="/Img/francisco downtown.png")
          .content
            .title In Our Sights
            //- .description Description
        .item
          img(src="/Img/Helicopter_1.jpg")
          .content
            .title City Update
            //- .description Description
        .item
          img(src="/Img/Gta_world_12.jpg")
          .content
            .title Breaking Alert
            //- .description Description
      // next prev
      .arrows
        button#prev <
        button#next >

    .container.swiper
      h1 Most Recent News
      .slider-wrapper_1
        .card-list_1.swiper-wrapper
          each x1 in recentnews
            .card-item_1.swiper-slide
              .card_1
                .imgBx_1
                  img(src=`/images/news/${x1.photo}` alt="")
                .content
                  h3 #{x1.truncatedHeadline}
                  h4 Likes #{x1.likes.length} | views #{x1.views}
                  if user
                    a(href=`/api/news/${x1._id}`) Read More
                  else 
                    a(href=`/loginerror`) Read More


        .swiper-pagination
        .swiper-slider-button.swiper-button-prev
        .swiper-button-next

    .container.swiper
      h1 Top Criminals
      .slider-wrapper
        .card-list.swiper-wrapper
          each x2 in topcriminals
            .card-item.swiper-slide
              .card
                .number
                .circle
                .content
                  h3 #{x2.name}
                  a(href=`/api/wanted/${x2.slug}`) Read More
                img(src=`/images/criminals/${x2.photo}` alt="")

        .swiper-pagination
        .swiper-slider-button.swiper-button-prev
        .swiper-button-next

    .container.swiper
        h1 Highest Paided Jobs
        .slider-wrapper_3
          .card-list_3.swiper-wrapper
            each item in highestPaidJobs
              .card-item_3.swiper-slide
                .card_3
                  img(src=`${item.photo}` alt="")
                  .content
                    h3= item.title
                    h4 Salary - #{item.salary}
                    if user 
                      a(href=`/api/career/${item.slug}`) Read More
                    else 
                      a(href=`/loginerror`) Read More
            
          .swiper-pagination
          .swiper-slider-button.swiper-button-prev
          .swiper-button-next


  footer.footer-section
    .cont
      .footer-cta.pt-5.pb-5
        .row
          .col-xl-4.col-lg-4.mb-50
            .footer-widget
              .footer-logo
                a(href="#")
                  img.img-fluid(src="/Logo_1.png" alt="logo")
              .footer-text
                p This project aims to assist the Los Santos Police Department (LSPD) in apprehending the city's most wanted criminals, recent news and career options. It includes features for both users and administrators to interact with the system, view and manage content, and engage with various functionalities.
              //- .footer-social-icon
              //-   span Follow us
              //-   a(href="#")
              //-     i.fab.fa-facebook-f.facebook-bg
              //-   a(href="#")
              //-     i.fab.fa-twitter.twitter-bg
              //-   a(href="#")
              //-     i.fab.fa-google-plus-g.google-bg
          .col-xl-4.col-lg-4.col-md-6.mb-30
            .footer-widget
              .footer-widget-heading
                h3 Useful Links
              ul
                li: a(href="/") Home
                li: a(href="/api/wanted/getallwanted") Criminals
                li: a(href="/api/news/getallnews") News
                li: a(href="/api/career/getalljobs") Carreers
                li: a(href="/api/tip/submit-tip") Submit Tip
                li: a(href="/api/users/me") Your Profile
                //- li: a(href="#") Our Services
                //- li: a(href="#") Expert Team
                //- li: a(href="#") Contact us
                //- li: a(href="#") Latest News
          //- .col-xl-4.col-lg-4.col-md-6.mb-50
          //-   .footer-widget
          //-     .footer-widget-heading
          //-       h3 Subscribe
          //-     .footer-text.mb-25
          //-       p Don’t miss to subscribe to our new feeds, kindly fill the form below.
          //-     .subscribe-form
          //-       form(action="#")
          //-         input(type="text" placeholder="Email Address")
          //-         button 
          //-           span  Submit
        
      .footer-content.pt-5.pb-5
        .row
          .col-xl-4.col-md-4.mb-30
            .single-cta
              i.fas.fa-user
              .cta-text
                h4 Created by
                a(target= "_blank" href="https://www.linkedin.com/in/naitik-ajay-shah-019120257/") Naitik Shah
                span  and 
                a(target= "_blank" href="https://www.linkedin.com/in/parth-ranpariya-576523260/") Parth Ranpariya

          //- .col-xl-4.col-md-4.mb-30
          //-   .single-cta
          //-     i.fas.fa-phone
          //-     .cta-text
          //-       h4 Special Thanks To
          //-       a(target= "_blank" href="https://www.linkedin.com/in/sarthak-siddhpura-544389257/") Sarthak Siddhpura, 
          //-       a(target= "_blank" href="#")  Shrey Badja
          //-       span  and 
          //-       a(target= "_blank" href="https://www.linkedin.com/in/tirthraj-raval-773422263/") Tirthraj Raval
    .copyright-area
      .cont
        .row
          .col-xl-6.col-lg-6.text-center.text-lg-left
            .copyright-text
              p Copyright &copy; 2024, All Right Reserved 
                a(href="https://github.com/Naitik1112/Hernandez-Quest") Hernandez Quest
          .col-xl-6.col-lg-6.d-none.d-lg-block.text-right
            .footer-menu
              ul
                //- li: a(href="#") Home
                //- li: a(href="#") Terms
                //- li: a(href="#") Privacy
                //- li: a(href="#") Policy
                //- li: a(href="#") Contact


    script(src="app.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="/js/overview.js")
    script(src="/js/navbar.js")