doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/CSS/navbar.css")
    link(rel="stylesheet" href="/CSS/Profile.css")
    link(rel="stylesheet" href="/CSS/tabs.css")
    link(rel="stylesheet" href="/CSS/news.css")
    link(rel="stylesheet" href="/CSS/utility.css")
    link(rel="stylesheet" href="/CSS/popUp.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="/CSS/footer.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

  body
    include navbar
    include popUp

    .News-Ann
      | Profile
    .container(USER=user.role)
      .box1
        img(src=`/images/users/${user.photo}` alt="")
        button#Edit_image Edit Image
        .upload
          input(type="file" id="fileInput" name="name" required)
          .Submit
            button#Confrim Confrim
            button#Cancel Cancel
      .box2
        .content_1
          .logout#btnlogout
            h2 Genral Information
            button Logout
          .details
            p.tag Name
            p.field#namee= user.name
          .details
            p.tag Email Id
            p.field#emaill= user.email
          .details
            p.tag Role
            p.field= user.role
          .details
            p.tag Jobs Applied
            p.field= doc.length
        .content_2
          button#Edit_Content Edit Information
          .upload1
            .Submit
              button#Confrim_1 Confrim
              button#Cancel_1 Cancel

    if user.role === 'Admin'
      #add_button
        img(src="/Icons/add_1.png" alt="")
        .add_links
          a(href="/api/wanted/publishcriminal") Publish News
          a(href="/api/news/getallnews/publishnews") Add Criminals
          a(href="/api/career/getalljobs/publishcareer") Post Carrers


    if user.role !== 'Admin'
      .buttons
        .button5 Jobs-Applied

      #Jobs-Applied.tabcontent
        main.table#customers_table_5
          section.table__header
            .input-group
              input(type="search" placeholder="Search Data...")
              img(src="/Icons/search.png" alt="")
          section.table__body
            table 
              thead
                tr
                  th Date
                    span.icon-arrow &UpArrow;
                  th Time
                    span.icon-arrow &UpArrow;
                  th Job Role
                    span.icon-arrow &UpArrow;
                  th Status
                    span.icon-arrow &UpArrow;
              tbody#datatable_5

    if user.role === 'Admin'
      .buttons
        .button1 Job-Applications
        .button2 Admin
        .button3 User
        .button4 Tips
      
      //- Tab content
      #Job-Applications.tabcontent
        main.table#customers_table_1
          section.table__header
            a#accepted.accepted_rejected(href="/api/users/getacceptedapplications") Accepted
            .input-group
              input(type="search" placeholder="Search Data...")
              img(src="/Icons/search.png" alt="")
            a#rejected.accepted_rejected(href=`/api/users/getrejectedapplications`) Rejected
            //- .input-group
            //-   input(type="search" placeholder="Search Data...")
            //-   img(src="/Icons/search.png" alt="")
          section.table__body
            table
              thead
                tr
                  th Name
                    span.icon-arrow &UpArrow;
                  th Email
                    span.icon-arrow &UpArrow;
                  th No. Of Applications
                    span.icon-arrow &UpArrow;
                  th View
              tbody#datatable_1
      
      #Admin.tabcontent
        main.table#customers_table_2
          section.table__header
            .input-group
              input(type="search" placeholder="Search Data...")
              img(src="/Icons/search.png" alt="")
            button.add Add Admin
              img(src="/Icons/add.png" alt="")
          section.table__body
            table
              thead
                tr
                  th Profile
                  th Name
                    span.icon-arrow &UpArrow;
                  th Email
                    span.icon-arrow &UpArrow;
                  th Delete
              tbody#datatable_2
      
      #User.tabcontent
        main.table#customers_table_3
          section.table__header
            .input-group
              input(type="search" placeholder="Search Data...")
              img(src="/Icons/search.png" alt="")
          section.table__body
            table
              thead
                tr
                  th Profile
                  th Name
                    span.icon-arrow &UpArrow;
                  th Email
                    span.icon-arrow &UpArrow;
                  th Delete
              tbody#datatable_3
      
      #Tips.tabcontent
        main.table#customers_table_4
          section.table__header
            .input-group
              input(type="search" placeholder="Search Data...")
              img(src="/Icons/search.png" alt="")
          section.table__body
            table
              thead
                tr
                  th Index
                  th Title
                    span.icon-arrow &UpArrow;
                  th Description
              tbody#datatable_4
    
    footer.footer-section
    .cont
      .footer-cta.pt-5.pb-5
        .row
          .col-xl-4.col-lg-4.mb-50
            .footer-widget
              .footer-logo
                a(href="#")
                  img.img-fluid(src="/Logo_1.png" alt="logo")
              .footer-text
                p This project aims to assist the Los Santos Police Department (LSPD) in apprehending the city's most wanted criminals, recent news and career options. It includes features for both users and administrators to interact with the system, view and manage content, and engage with various functionalities.
              //- .footer-social-icon
              //-   span Follow us
              //-   a(href="#")
              //-     i.fab.fa-facebook-f.facebook-bg
              //-   a(href="#")
              //-     i.fab.fa-twitter.twitter-bg
              //-   a(href="#")
              //-     i.fab.fa-google-plus-g.google-bg
          .col-xl-4.col-lg-4.col-md-6.mb-30
            .footer-widget
              .footer-widget-heading
                h3 Useful Links
              ul
                li: a(href="/") Home
                li: a(href="/api/wanted/getallwanted") Criminals
                li: a(href="/api/news/getallnews") News
                li: a(href="/api/career/getalljobs") Carreers
                li: a(href="/api/tip/submit-tip") Submit Tip
                li: a(href="/api/users/me") Your Profile
                //- li: a(href="#") Our Services
                //- li: a(href="#") Expert Team
                //- li: a(href="#") Contact us
                //- li: a(href="#") Latest News
          //- .col-xl-4.col-lg-4.col-md-6.mb-50
          //-   .footer-widget
          //-     .footer-widget-heading
          //-       h3 Subscribe
          //-     .footer-text.mb-25
          //-       p Don’t miss to subscribe to our new feeds, kindly fill the form below.
          //-     .subscribe-form
          //-       form(action="#")
          //-         input(type="text" placeholder="Email Address")
          //-         button 
          //-           span  Submit
        
      .footer-content.pt-5.pb-5
        .row
          .col-xl-4.col-md-4.mb-30
            .single-cta
              i.fas.fa-user
              .cta-text
                h4 Created by
                a(target= "_blank" href="https://www.linkedin.com/in/naitik-ajay-shah-019120257/") Naitik Shah
                span  and 
                a(target= "_blank" href="https://www.linkedin.com/in/parth-ranpariya-576523260/") Parth Ranpariya

          //- .col-xl-4.col-md-4.mb-30
          //-   .single-cta
          //-     i.fas.fa-phone
          //-     .cta-text
          //-       h4 Special Thanks To
          //-       a(target= "_blank" href="https://www.linkedin.com/in/sarthak-siddhpura-544389257/") Sarthak Siddhpura, 
          //-       a(target= "_blank" href="#")  Shrey Badja
          //-       span  and 
          //-       a(target= "_blank" href="https://www.linkedin.com/in/tirthraj-raval-773422263/") Tirthraj Raval
    .copyright-area
      .cont
        .row
          .col-xl-6.col-lg-6.text-center.text-lg-left
            .copyright-text
              p Copyright &copy; 2024, All Right Reserved 
                a(href="https://github.com/Naitik1112/Hernandez-Quest") Hernandez Quest
          .col-xl-6.col-lg-6.d-none.d-lg-block.text-right
            .footer-menu
              ul
                //- li: a(href="#") Home
                //- li: a(href="#") Terms
                //- li: a(href="#") Privacy
                //- li: a(href="#") Policy
                //- li: a(href="#") Contact

    script(src="/js/Profile.js")
    script(src="/js/loadProfiledata.js")
    script(src="/js/logout.js")
